SERVER_IP=192.168.1.9
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword123
POSTGRES_DB=piketdb
REDIS_PASSWORD=redispassword123
APP_VERSION=1.0.0
PIKETAPI_PORT=5001
ADMIN_CLIENT_PORT=8000
PIKETAPI_IMAGE=230279/piketapi:${APP_VERSION}
ADMIN_CLIENT_IMAGE=230279/picket-client:${APP_VERSION}
WHATSAPP_IMAGE=230279/whatsapp:${APP_VERSION}
JWT_SECRET=O0ywQA1xv4h1EXL4cnsQ4ReHEoqwMuejtXB4KxOeTCB4nOpV4yVegegbEgtzsZWfl5wlBWBY5kpUPVsEmkVr3V9sxvOPmT4YR3PvUCiw7s1xMrSoCMVqnG7VlSeO469Z-change-this-to-a-long-random-secret
JWT_ISSUER=http://${SERVER_IP}:${PIKETAPI_PORT}
JWT_AUDIENCE=http://${SERVER_IP}:${PIKETAPI_PORT}
DEFAULT_PASSWORD=Password@123
PUBLIC_DOMAIN=example.com
VITE_API_URL=http://${SERVER_IP}:${PIKETAPI_PORT}/api
VITE_LOGO=/smk.png
