@tailwind base;
@tailwind components;
@tailwind utilities;

/*  npx tailwindcss -i ./src/assets/main.css -o ./src/assets/main.output.css --watch   */


div[type=text] {
    appearance: none;
    background-color: none !important;
    border-color: none !important;
    border-width: 0px;
    border-radius: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}




.print-only {
  display: none !important;
}
@media print {
  nav,
  aside,
  #main,
  #header,
  #footer,
  #rightSide,
  #sidebar {
    display: none !important;
  }

  .min-h-screen {
    min-height: 0px !important;
  }

  #hide > * {
    display: none !important; /* Hide all children of #par */
  }

  #print {
    display: block !important; /* Show only the element with id="btn" */
  }

  .print-only {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }

  #xbody {
    margin-left: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
  }
}
