@tailwind base;
@tailwind components;
@tailwind utilities;

/*  npx tailwindcss -i ./src/assets/main.css -o ./src/assets/main.output.css --watch   */
.print-only {
  display: none !important;
}
@media print {
  nav,
  aside,
  #main,
  #header,
  #footer,
  #rightSide,
  #sidebar {
    display: none !important;
  }

  .min-h-screen {
    min-height: 0px !important;
  }

  #hide > * {
    display: none !important; /* Hide all children of #par */
  }

  #print {
    display: block !important; /* Show only the element with id="btn" */
  }

  .print-only {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }

  #xbody {
    margin-left: 0px !important;
    padding: 0px !important;
    box-shadow: none !important;
  }
}
